:root {
    --branding-color:#6C63FF; 
    --heading-font-family:'Playfair Display', serif;
    --default-font-family:'Poppins', sans-serif;
    --secondary-color: #f9f7fe;
}
body {
    font-family: var(--default-font-family);
}
h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2{
    font-size: 64px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.main {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
    font-size: 36px;
}

.main p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.main h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-description {
    padding: 120px 60px;
}

@media (max-width: 960px) {
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 44px;
    }
    .main {
        padding: 80px 20px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
}