:root {
    --branding-color:#8997a1; 
    --heading-font-family:'Playfair Display', serif;
    --default-font-family:'Poppins', sans-serif;
    --secondary-color: #acbdc9;
}
body {
    font-family: var(--default-font-family);
    background-color: #343A40;
}
h1, h2, h3, h4, h5, h6{
    color: #9D9D9D;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-size: 96px;
    line-height: 1;
    color: black;
}

h2{
    font-size: 64px;
}
h2.undertext{
    color: black;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #9D9D9D;
}

.main {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
    font-size: 36px;
}

.main p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.main h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: #343A40;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    transition: all 600ms ease-in-out;
}
.btn-branding:hover{
    background-color: #343A40;
    color: var(--branding-color);
}
.btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    transition: all 600ms ease-in-out;
}

.btn-branding-outline:hover{
    background-color: var(--branding-color);
}


.project-description {
    padding: 40px 60px;
}

@media (max-width: 960px) {
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 44px;
    }
    .main {
        padding: 80px 20px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
}
img{
    border-radius: 20px;
    box-shadow: 0 0 1em #8898a8;
}